description = "UIkit 3 style guide"
==
<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ this.page.meta_title|default(this.page.title) }} | {{ this.theme.site_name }}</title>
    <link rel="canonical" href="{{ ''|page }}">

    <!-- Theming / branding -->
    <meta name="theme-color" content="{{ this.theme.brand_color }}">
    <link rel="shortcut icon" href="{{ 'assets/images/uikit/icon.png'|theme }}">

    <script src="{{ 'assets/js/detect.js'|theme }}"></script>
    <link rel="stylesheet" href="{{ 'assets/css/uikit3themed.css'|theme }}?v={{ this.theme.version }}">
    {% styles %}
</head>

<body>
    {% page %}

    <script src="{{ 'assets/js/uikit3.js'|theme }}?v={{ this.theme.version }}"></script>
    <script src="{{ 'assets/js/uikit3-icons.js'|theme }}?v={{ this.theme.version }}"></script>
    {% scripts %}
</body>
</html>
