

$global-emphasis-color: #39f; //#333 !default;

$global-primary-background: $global-emphasis-color; //#1e87f0 !default;
$global-secondary-background: #333; //#222 !default;

$inverse-global-color-mode: none; //light !default;
